# Format Style Options - Created with Clang Power Tools
---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -4
AlignTrailingComments: true
AlignConsecutiveMacros: true
# AlignConsecutiveAssignments: true
AllowShortCaseLabelsOnASingleLine: true
# AllowShortBlocksOnASingleLine: true
AllowShortBlocksOnASingleLine : Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine : false
AllowShortIfStatementsOnASingleLine : WithoutElse
AlwaysBreakBeforeMultilineStrings: false
ColumnLimit: 110
IndentWidth : 4
SpacesBeforeTrailingComments: 4
TabWidth: 4
...
